on:
  push:
  pull_request:
  workflow_dispatch:
permissions:
  actions: none
  attestations: none
  checks: none
  contents: none
  deployments: none
  discussions: none
  id-token: none
  issues: none
  models: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none
jobs:
  bandit:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: PyCQA/bandit-action@67a458d90fa11fb1463e91e7f4c8f068b5863c7f # v1.0.1
        continue-on-error: true
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: bandit.sarif
          path: results.sarif
          if-no-files-found: error
  semgrep:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep@sha256:e2a7ca874b5ef7dd47b3f613a429bc75050e6a1abfb2b42496d7ce2414d286cb
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: semgrep scan --oss-only --sarif > results.sarif || true
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: semgrep.sarif
          path: results.sarif
          if-no-files-found: error    
      - uses: github/codeql-action/upload-sarif@57eebf61a2246ab60a0c2f5a85766db783ad3553 # v3.28.15
        continue-on-error: true
        with:
          sarif_file: results.sarif
  clamav:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    services:
      clamav:
        image: clamav/clamav@sha256:a56287b4ffa299bde2ef09234cb8b6134d591d0be05b63f5065932dc93cb2435
        ports:
          - 3310:3310
        options: >-
          --health-cmd "/usr/local/bin/clamdcheck.sh"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 10
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: timeout 300 bash -c  'until nc -z localhost 3310; do sleep 5; done'
      - run: |
          sudo apt-get update || true
          sudo rm -f /var/lib/man-db/auto-update
          sudo apt-get install -y --no-install-recommends clamdscan
          sudo mkdir -p /etc/clamav
          cat << EOF | sudo tee /etc/clamav/clamd.conf
          TCPSocket 3310
          TCPAddr 127.0.0.1
          EOF
          clamdscan --version
      - run: |
          clamdscan --verbose --log=clamdscan.txt --stream --fdpass --multiscan .
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: clamdscan.txt
          path: clamdscan.txt
          if-no-files-found: error
  sonarqube:
    runs-on: ubuntu-latest
    services:
      sonarqube:
        image: sonarqube:community@sha256:48dd0e946ad6481dde43bb31d1a7af09c22f59be6399b195dcce7b87d82c5f40
        ports:
          - 9000:9000
        env:
          SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: true
          SONAR_WEB_SYSTEMPASSCODE: passcode
        options: >-
          --health-cmd "status=$(wget -qO- http://localhost:9000/api/system/status | grep -oP '(?<=status\":\").*' | sed -e 's|\"}||' | tr -d '\n'); echo -n \"$status\"; test \"$status\" = \"UP\""
          --health-interval 10s
          --health-timeout 5s
          --health-retries 30
    steps:
    # - if: always()
    #   run: |
    #     docker inspect $(docker ps -qf "ancestor=sonarqube:community@sha256:48dd0e946ad6481dde43bb31d1a7af09c22f59be6399b195dcce7b87d82c5f40") | jq '.[] | {"test": .Config.Healthcheck.Test, "state": .State.Health}'
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 0
    - name: Wait for SonarQube to be ready
      env:
        SONAR_HOST: sonarqube
        SONAR_PORT: job.services.sonarqube.ports[9000]
      run: |
        echo "SonarQube Host: ${{ env.SONAR_HOST }}"
        echo "SonarQube Port: ${{ env.SONAR_PORT }}"
        until curl -s http://localhost:9000/api/system/status | jq -r '.status' | grep -q 'UP'; do
          echo "Waiting for SonarQube..."
          sleep 5
        done
        echo "SonarQube is ready!"
    - name: Create SonarQube project
      run: |
        # Login and get token (default credentials: admin/admin)
        SONAR_TOKEN=$(curl -u admin:admin -X POST "http://localhost:9000/api/user_tokens/generate?name=github-actions" \
          | jq -r '.token')

        echo "SONAR_TOKEN=$SONAR_TOKEN" >> $GITHUB_ENV
        
        # Create project
        curl -u admin:admin -X POST \
          "http://localhost:9000/api/projects/create?project=my-project&name=MyProject"

    - name: Set up JDK
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
      with:
        java-version: 21
        distribution: 'temurin'
    - name: Run SonarQube Scanner
      env:
        SONARSOURCE_CLI_VERSION: 7.3.0.5189
      run: |
        cd ${{ runner.temp }}
        # https://binaries.sonarsource.com/?prefix=Distribution/sonar-scanner-cli/
        wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-${{ env.SONARSOURCE_CLI_VERSION }}-linux-x64.zip
        unzip sonar-scanner-cli-${{ env.SONARSOURCE_CLI_VERSION }}-linux-x64.zip
        cd ${{ github.workspace }}
        ${{ runner.temp }}/sonar-scanner-${{ env.SONARSOURCE_CLI_VERSION }}-linux-x64/bin/sonar-scanner \
          -Dsonar.projectKey=my-project \
          -Dsonar.sources=. \
          -Dsonar.host.url=http://localhost:9000 \
          -Dsonar.token=${{ env.SONAR_TOKEN }}
    - name: Get SAST Report
      run: |
        # system passcode
        curl --request GET \
          --url 'http://localhost:9000/api/system/health' \
          --header 'X-Sonar-Passcode: passcode'
        # bearer token
        curl --request GET \
          --url 'http://localhost:9000/api/system/health' \
          --header 'Authorization: Bearer ${{ env.SONAR_TOKEN }}'
        
        curl --request GET \
          --url 'http://localhost:9000/api/projects/export_findings?project=my-project' \
          --header 'Authorization: Bearer ${{ env.SONAR_TOKEN }}'

        curl --request GET \
          --url 'http://localhost:9000/api/projects/export_findings?project=my-project' \
          --header 'X-Sonar-Passcode: passcode'

        # /api/measures/component
